<!doctype html>

<!-- ng-app="Tutor" defines the angular app that we are using. The name is defined under info.module.js -->
<html lang="en" ng-app="Tutor">
<head>
    <!-- this is what shows up in the tabs in your browser and if you bookmark the page -->
    <title>New tutor</title>

    <!-- These are the links to bootstrap code -->
    <!-- we got the links from http://getbootstrap.com/docs/4.0/getting-started/introduction/ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

    <!-- link to angular -->
    <!-- you can download it from https://angularjs.org/ then you need to upload it to the webdev server. -->
    <script src="angular.min.js"></script>

    <!-- angular code we wrote -->
    <!-- info.module.js is where we define the angular app called 'Tutor'. We use the name of the app in the html element at the top of the file -->
    <script src="info.module.js"></script>
    <!-- data.info.controller.js is where we are getting the data from. It defines a controller under the 'Tutor' app called 'dataControl', and data is under $scope.data -->
    <script src="data.info.controller.js"></script>
    <!-- info.filter.js enables us to display html code -->
    <script src="info.filter.js"></script>
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
    <!-- we are defining the angular controller that we will use in this chunk of html defined by the div as 'dataControl' from data.info.controller.js -->
    <div class="container" ng-controller="dataControl">

        <!-- header -->
        <div ng-include ng-init="menuHighlight = 2;" src="'header.html'"></div>


        <!-- form for entering new tutor -->
        <div class="row">
            <div class="col-sm-12" align = "center" style = "padding-top: 50px">

                <form  name="newtutorForm" novalidate>

                    <!-- hawkid of the tutor -->
                    <div class="form-group" ng-class="{ 'text-danger': newtutorForm.name.$invalid && newtutorForm.name.$touched, 'text-success': !newtutorForm.name.$invalid && newtutorForm.name.$touched }">
                        <label class="form-control-label" for="hawkidtutor">hawkid: </label>
                        <input type="text" class="form-control" ng-class="{ 'is-invalid': newtutorForm.name.$invalid && newtutorForm.name.$touched, 'is-valid': !newtutorForm.name.$invalid && newtutorForm.name.$touched }" name="name" ng-model="tutor.hawkidtutor" ng-minlength="2" id="hawkidtutor" required/>
                        <div ng-show="newtutorForm.name.$invalid && newtutorForm.name.$touched" >The tutor's hawkid must be at least two characters long</div>
                    </div>

                    <!-- Course for the tutor -->
                    <!-- ng-class sets up the style for this element. You'll find a format of 'style': condition, 'style2': condition2 -->
                    <!-- notice in ng-class we are using the name of the form, and the name of the input element in the codition statements -->
                    <div class="form-group" ng-class="{ 'text-danger': newtutorForm.courseNumber.$invalid && newtutorForm.courseNumber.$touched, 'text-success': !newtutorForm.courseNumber.$invalid && newtutorForm.courseNumber.$touched}">
                        <label>Course: </label>
                        <input type="text" class="form-control" ng-class="{ 'is-invalid': newtutorForm.courseNumber.$invalid && newtutorForm.courseNumber.$touched, 'is-valid': !newtutorForm.courseNumber.$invalid && newtutorForm.courseNumber.$touched}" name="courseNumber" ng-model="tutor.courseNumber" ng-minlength="2" required/>
                        <p ng-show="newtutorForm.courseNumber.$invalid && newtutorForm.courseNumber.$touched" >The tutor's course number must be at least two characters long</p>
                    </div>

                    <!-- newtutor is a function in the controller. tutor refers to the word we used under ng-model in the input fields -->
                    <button class="btn btn-default" ng-click="newtutor(tutor)" ng-disabled="newtutorForm.$invalid">Add tutor</button>
                </form>

            </div>
        </div> <!-- close row -->

        <!-- Footer -->
        <div ng-include src="'footer.html'"></div>

    </div>
</body>
</html>
