body {
    background-color: #FFCD00;
    font-family: Arial;
}
#index {
    background-image: url("indexBackground.jpg");
    background-size: 100%;
}

#textbox{
    z-index: 1; /* Sit on top */
    width: 300px;
    height: 300px;
    position: fixed;
    left: 50%;
    top: 50%; 
    margin-left: -150px;
    margin-top: -150px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color: white;
    text-align: center;
}

#bottom {
    padding-top: 100px;
}

form {
    display: inline-block;
    vertical-align: middle;
}
.form-group {
    display:block;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
}

.topright:hover {color: black;}

table {
    border: solid black;
    width:100%;
}

th {
    background-color: black;
    color: white;
    border-bottom: solid black;
}
.btn-primary {
    background-color: black;
    color: white;
    border-color: black;
}

.btn-primary:hover {
    background-color: #cccccc;
    border-color: #cccccc;
}
.btn-primary:disabled {
    background-color: black;
    color: white;
    border-color: black;
}
#footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: white;
    text-align: center;
}
#header {
    width: 100%;
}